body{
    background-color:lightslategrey;
    color:snow;
    font-size: 20px;
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
    margin: 25px;
}

.blog{
    border: 10px solid whitesmoke;
    background-color:whitesmoke;
    text-align: center; 
    color:steelblue;
    padding: 10px;
    margin: auto; 
    margin-bottom: 50px;
    width:50%; 
}




