body{
    background-color:lightslategrey;
    color:snow;
    font-size: 25px;
    font-family: 'Gemunu Libre', sans-serif;
    text-align: center;
    margin: 25px;
}

.blog{
    border: 10px solid gray;
    background-color:whitesmoke;
    text-align: center; 
    color:steelblue;
    padding: 10px;
    margin: auto; 
    margin-bottom: 50px;
    width:50%; 
}

.blog-img{
    height:500px;
    width:500px;
}




